<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body style="background-image:url('/static/page1.jpg'); background-size: cover; background-repeat: no-repeat;">
<h1>Page</h1>
<form action="foam">
    <input type="submit" value="Button" >
</form>
</body>
</html>


<!--<input type = "submit" value="Submit">-->

<!--<form action = "foam" method = "post" >-->
<!--    {% csrf_token %}-->
<!--     <button><a href="{% url 'foam' %}">Submit</a></button>-->
<!--   </form>-->